{% block html_head_container %}

  {% include 'html-header.twig' %}
  {% block head %}
  {% endblock %}
  </head>
{% endblock %}

<body class="{{ body_class }}" data-template="base.twig">
<div id="header-repeat">
  <div id="header-content">
    {% block header %}
      <p id="header-phone">{{ options.phone_cta.value }}</p>
      {% include "mini-nav.twig" with {'menu': mini_menu.get_items} %}
      <p id="tag">{{ site.description }}</p>
    {% endblock %}
  </div>
</div>

<div id="main-content">
  <a id="logo"
     href="/"
     style="background-image: url({{ TimberImage(options.tag_image.value).src }})"
  >
    {{ site.name }}
  </a>
  {% include "main-nav.twig" with {'menu': main_menu.get_items} %}
  <img id="splash" src="{{ TimberImage(options.banner_image.value).src }}"/>
  {#{% if title %}<h1>{{ title }}</h1>{% endif %}#}
  {% block content %}
    Sorry, no content
  {% endblock %}
  <div style="clear:both;"></div>

  {{ function('wp_footer') }}
</div>
</body>
</html>
